.rbc-event {
  font-size: 0.75rem;
  white-space: normal;
  line-height: 1.2;
  padding: 2px 5px;
  background-color: #00aeef;
  border: 1px solid #008fbf;
}

.off-month-day .rbc-button-link {
  color: transparent !important;
}

.off-month-day {
  pointer-events: none;
}

.off-month-day .rbc-event {
  visibility: hidden !important;
}
