html,
body {
  overflow: hidden !important;
}

.rbc-event {
  padding: 2px 5px !important;
  border: none !important;
  border-radius: 4px !important;
  background-color: #00aeef;
}

.custom-event-content {
  display: flex !important;
  align-items: center;
  width: 100%;
  font-size: 11.5px;
  font-weight: 600;
  color: white;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.event-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkmark-icon {
  flex-shrink: 0;
  margin-left: 5px;
  height: 13px;
  width: 13px;
  color: #000;
}

.off-month-day .rbc-button-link {
  color: transparent !important;
}

.off-month-day {
  pointer-events: none;
  background-color: #f8f9fa;
}

.off-month-day .rbc-event {
  visibility: hidden !important;
}

@media (max-width: 767px) {
  .custom-event-content {
    font-size: 11px;
  }
  .rbc-header {
    font-size: 12px;
    padding: 8px 2px;
    text-align: center;
  }
  .rbc-date-cell {
    font-size: 13px;
    padding: 2px;
  }
  .rbc-agenda-view table thead tr th {
    font-size: 13px;
  }
}
