@import "tailwindcss";


/* Add your global styles here */
body {
  margin: 0;
}
/* Remove default margins */
body {
  margin: 0;
  padding: 0;
}

/* Ensure dashboard content fills space */
.dashboard-content {
  width: calc(100% - 16rem); /* 64 = 16rem */
}

@media (max-width: 768px) {
  .dashboard-content {
    width: 100%;
  }
}