/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background: url('/images/background.jpg') no-repeat center center fixed;
    /* background: url('../images/background.jpg') no-repeat center center fixed; */
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.nav {
    position: absolute;
    top: .5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
  }
  
  /* .logo {
    font-size: 1.5rem;
    font-weight: bold;
  } */
  
  .logo img {
    height: 155px; /* Adjust this as needed */
    width: auto;
    display: block; /* Ensures it's visible */
    margin: 2px;
    margin-top: -30px;
    z-index: 5;
  }

/* Container styles */
.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    border-radius: 10px;
}

/* Signin Box */
.signin-box {
    padding: 30px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #ccc;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #dcdcdc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
